header {
    display: flex;
    height: 15vh;
    align-items: center;
}

.input-nft {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.create-nft {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-bottom: 3rem;
    width: 30rem;
}

#input-image {
    gap: 3rem;
    align-items: center;
}
.btn{
    width: 7rem;
}
img {
    border-radius: 20px;
}

.create-container{
    display: flex;
    justify-content: center;
}