* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: darkslateblue !important;*/


}

.btn-sp {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-right: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    border:2px solid black;
    padding: 20px;
    border-radius: 20px;
}

h1{
    margin-bottom: 20px;
    font-size: 100px;
}


