* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: darkslateblue !important;*/


}

.btn-sp {
    display: flex;
    justify-content: space-between;

}

.btn{
    width: 5.5rem;
}
.main {
    display: flex;
    flex-direction: column;
    border:2px solid black;
    padding: 20px;
    border-radius: 20px;
    gap:1rem;
}

h1{

    font-size: 100px;
}



