* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: wheat;


}

.btn-sp {
    display: flex;
    justify-content: space-between;

}

.btn {
    width: 5.5rem;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    gap: 1rem;
}

.btn-signup {
    background: wheat;
}

.btn-signup:hover {
    background-color: wheat;
    color: white;
}

.btn.btn-signup:active {
    background-color: wheat;
    color: white;
    border: none;
    opacity: 90%;
}

.btn-login {
    border: 2px solid wheat;
    color: wheat;
}

.btn-login:hover {
    background-color: wheat;
    color: black;
}

.btn.btn-login:active {
    background-color: wheat;
    color: black;
    opacity: 90%;
}



