body{
    background: black;
    color:wheat;
}

.nft-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10rem;
    margin-bottom: 3rem;
}

.nft {
    border: 5px solid;
    border-radius: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-sizing: content-box;

}

.inf-in-card {
    opacity: 75%;
    color: rgb(128, 128, 128);
}

.timer{
    font-size: 25px;
}

.input-group{
    border-radius: 5px;
}

img{
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
}