.container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 5rem;
}
header {
    display: flex;
    justify-content: space-between;
}

.btn-menu {
    width: 100%;
    text-align: left;
}

.btn-menu:hover {
    background-color: whitesmoke;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logout {
    border: 1px solid black;
    text-align: center;
}


.btn-menu-in {
    width: 90%;
    text-align: left;
}

.collapse {
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
}