.container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 5rem;
}
header {
    display: flex;
    justify-content: space-between;
    background:black;
}

.offcanvas{
    background: black;
    color: wheat;
}
.btn-menu {
    width: 100%;
    text-align: left;
    color: wheat;
}

.btn-menu:hover {
    background-color: navajowhite;
    color: black;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logout {
    border: 1px solid;
    text-align: center;
}


.btn-menu-in {
    width: 90%;
    text-align: left;
    color: navajowhite;
}

.collapse {
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
}

.btn-close{
    background-color: wheat;
}