body{
    background: black;
    color:wheat;
}
.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.form-signup-in {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn {
    width: 10rem;
}

.signup {
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
}

.btn-login {
    border: 2px solid wheat;
    color: wheat;
}

.btn-login:hover {
    background-color: wheat;
    color: black;
}

.btn.btn-login:active {
    background-color: wheat;
    color: black;
    opacity: 90%;
}