* {
    box-sizing: border-box;
}

body {
    background: black;
    color: wheat;
}

.container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 5rem;
}

header {
    display: flex;
    justify-content: space-between;
}


.profile {
    display: flex;
    flex-direction: column;
    gap: 7rem;
}


.button_intrading {
    display: flex;
    justify-content: center;
}

.btn-warning {
    width: 20rem;
}

