<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New NFT</title>
</head>
<body>
<div class="container">
    <header>
        <a href="{{ url_for("signed") }}"><button type="button" class="btn btn-outline-primary">Назад</button></a>
        <h1 class="header-text">Мои NFT</h1>
    </header>
</div>
</body>
</html>