<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<h1>Sign In</h1>
{% if message %}
    <p>{{ message }}</p>
{% endif %}
<form action="/login" method="post">
    <label for="address">Account</label>
    <select name="address" required>
        {% for account in users_accounts %}
            <option value="{{ account }}">{{ account }}</option>
        {% endfor %}
    </select><br><br>
    <label for="password">Password:</label>
    <input type=password name='password' placeholder="password" required>
    <p><input type="submit" value="login"></p>

</form>
</body>
</html>