<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='signed.css') }}">
    <title>Личный кабинет</title>
</head>
<body>
<div class="container">
    <header>
        <div class="logout">
            <a href="{{ url_for('logout') }}">
                <button class="btn btn-primary" type="submit">Logout</button>
            </a>
        </div>
        <div class="buttons-menu">
            {#            <a href="{{ url_for("transfer_history") }}">#}
            {#                <button class="btn btn-primary" type="submit">History Transfers</button>#}
            {#            </a>#}
            {#            <a href="{{ url_for("transfer") }}">#}
            {#                <button class="btn btn-primary" type="submit">Transfer</button>#}
            {#            </a>#}
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Transaction
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for("transfer_history") }}">History Transfers</a></li>
                    <li><a class="dropdown-item" href="{{ url_for("transfer") }}">Transfer</a></li>
                </ul>
            </div>

        </div>
    </header>

    <div class="profile">
        <h1 class="text-center">Личный кабинет</h1>
        <div class="information">
            <p><label for="account">Account: {{ user }}</label></p>
            <p><label for="name">Name: {{ name }}</label></p>
            <p><label for="balance">Balance(ETH): {{ balance_view }}</label></p>
            <p><label for="balance_token">Balance(FR): {{ balance_token }} FR</label></p>

        </div>
    </div>
    <hr>
    <h2 class="text-center">Мои NFT</h2>
    {% for nft in NFT_list if nft[0]==user %}
        <div class="nft" id="{{ nft[1] }}">
            <img src="{{ url_for('static',filename=nft[3]) }}" alt="nft" height="200" width="400">
            <h3>{{ nft[2] }}</h3>
            <p>Количество: {{ nft[-1] }}</p>
            <button class="btn btn-success" id="sell" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Sell
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-center">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">NFT</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <div class="nft" id="{{ nft[1] }}">
                                <img src="{{ url_for('static',filename=nft[3]) }}" alt="nft" height="200" width="400">
                                <h3>{{ nft[2] }}</h3>
                                <p>Количество: {{ nft[-1] }}</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" id="sell">Sell
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endfor %}
</div>
</body>
</html>