<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignUp</title>
</head>
<body>
<h1>Sign Up</h1>
{% if message %}
    <p>{{ message }}</p>
{% endif %}
<form action="/signup" method="post">
    <p><label for="name">Name:</label>
        <input name='name' type="text" placeholder="name" required></p>
    <p><label for="password">Password:</label>
        <input name="password" type="password" placeholder="password" required></p>
    <p><label for="address">Address:</label>
        <select name="address">
            {% for i in users_reg %}
        	    <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select><br><br></p>
    <input type="submit" value="signup">
</form>
</body>
</html>