<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignUp</title>
</head>
<body>
<h1>Sign Up</h1>
{% if message %}
<p>{{ message }}</p>
{% endif %}
<form action="/signup" method="POST">
    <label for="Name:"></label>
    <input name = 'name' class="name" type="text" placeholder="name" required>
    <label for="Password:"></label>
    <input name="password" type="password" placeholder="password" required>
    <label for="Address:"></label>
    <select name="selected_account" id="selected_account">
        {% for account in accounts %}
            <option value="{{ account }}">{{ account }}</option>
        {% endfor %}
    </select><br><br>
    <input type="submit" value="signup">
</form>
</body>
</html>