<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='marketplace.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='menu.css') }}">
    <title>Торговая площадка</title>
</head>
<body>
<div class="container">
    <header class="navbar sticky-top">
        <img src="{{ url_for('static', filename='image/nft_icon.png') }}" alt="" width="50" height="50">
        <h1>Торговая площадка</h1>
        <a data-bs-toggle="offcanvas" href="#offcanvasWithBothOptions" role="button"
           aria-controls="offcanvasWithBothOptions">
            <img src="{{ url_for('static', filename='image/justify.svg') }}" alt="" width="38" height="38">
        </a>
        <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
             aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"><b>Menu</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
            </div>
            <div class="offcanvas-body">
                <div class="menu">
                    <a href="{{ url_for('signed') }}" class="btn btn-menu">
                        <b>Account</b>
                    </a>
                    <div class="menu-collapse">
                        <button class="btn btn-menu" data-bs-toggle="collapse"
                                data-bs-target="#collapseTransfer"><b>Transaction</b>
                        </button>
                        <div class="collapse" id="collapseTransfer">
                            <a href="{{ url_for('transfer') }}" class="btn btn-menu-in">
                                Transfer
                            </a>
                            <a href="{{ url_for('transfer_history') }}" class="btn btn-menu-in">
                                History Transfer
                            </a>
                        </div>

                    </div>
                    <div class="menu-collapse">
                        <button class="btn btn-menu" data-bs-toggle="collapse"
                                data-bs-target="#collapseNft"><b>Nft</b>
                        </button>
                        <div class="collapse" id="collapseNft">
                            <a href="{{ url_for('create_nft') }}" class="btn btn-menu-in">
                                Create New NFT
                            </a>
                            <a href="{{ url_for('my_nft') }}" class="btn btn-menu-in">
                                My NFT
                            </a>
                        </div>
                    </div>

                </div>
                <a href="{{ url_for('logout') }}" class="btn btn-menu logout">
                    Log Out
                </a>


            </div>
        </div>
    </header>
{#NFT_list [(0, 'm0nkeyNFT', 'monkey0.png')]#}
{#NFT_cards [(0, '0x7B2f5243C7E300803eb2D00577Fd8516968a4501', 0, 10, False, False)]#}
{#[(0, 0, '0x7B2f5243C7E300803eb2D00577Fd8516968a4501', 3, 50, True, 1710012242, 1710014042,'0x7B2f5243C7E300803eb2D00577Fd8516968a4501', 0)]#}
    <div class="nft-container">
        {% for transfer in Transfer_list if transfer[5] == True %}
            <div class="nft" id="{{ transfer[0] }}">
                <img src="{{ url_for('static',filename='image/%s'|format(NFT_list[NFT_cards[transfer[1]][2]][2]))}}" alt="nft"
                     height="200"
                     width="400">
                <h3>{{ NFT_list[NFT_cards[transfer[1]][2]][1] }}</h3>
                <p>Количество: {{ transfer[3]}}</p>
                <div class="timer" id="timer{{ transfer[0] }}"></div>
                <form action="{{ url_for('trading_platform') }}" method="post">
                    <div class="input-group">
                        {% if transfer[-1] > 0 %}
                            <input type="number" class="form-control" placeholder="Ваша ставка" name="bet"
                                   aria-describedby="button-addon{{ transfer[0] }}" min="{{ transfer[-1] + 1 }}"
                                   required>
                        {% elif transfer[-1] == 0 %}
                            <input type="number" class="form-control" placeholder="Ваша ставка" name="bet"
                                   aria-describedby="button-addon{{ transfer[0] }}" min="{{ transfer[4] + 1 }}"
                                   required>
                        {% endif %}
                        {% if transfer[2] != user %}
                            <button class="btn btn-success" type="submit" name="transferId" value="{{ transfer[0] }}">
                                Bet
                            </button>
                        {% elif transfer[2] == user %}
                            <button class="btn btn-success disabled" type="submit" name="transferId"
                                    value="{{ transfer[0] }}">
                                Bet
                            </button>
                        {% endif %}
                    </div>
                </form>
                <div>
                    <p class="inf-in-card">Минимальная ставка: {{ transfer[4] }}</p>
                    {% if transfer[-1] > 0 and transfer[-2] != user %}
                        <p class="inf-in-card">Последняя ставка: {{ transfer[-1] }}</p>
                    {% elif transfer[-1] > 0 and transfer[-2] == user %}
                        <p class="inf-in-card">Последняя ставка(ваша): {{ transfer[-1] }}</p>
                    {% elif transfer[2] == user %}
                        <p class="inf-in-card">Это ваша NFT!</p>
                    {% endif %}
                </div>
            </div>
            <script>
                let inputTime{{ transfer[0] }} = document.getElementById('timer{{ transfer[0] }}')
                let endTime{{ transfer[0] }} = Number('{{ transfer[7] }}')

                function sendTransferId{{ transfer[0] }}() {
                    fetch('{{ url_for('buy_nft')}}', {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json;charset=utf-8",
                            },
                            body: JSON.stringify({{ transfer[0] }}),
                        }
                    )
                        .then(response => {
                            if (response.ok) {
                                window.location.href = '{{ url_for('trading_platform') }}'
                            } else {
                                console.error('Ошибка при выполнении запроса на сервер')
                                window.location.href = '{{ url_for('trading_platform') }}'
                            }
                        })
                        .catch(error => {
                            // Ошибка при выполнении запроса
                            console.error('Ошибка при отправке запроса:', error)
                        })
                }

                function updaterTime{{ transfer[0] }}() {
                    let currentTime{{ transfer[0] }} = Number(String(Date.now()).slice(0, 10))
                    let remainingTime{{ transfer[0] }} = endTime{{ transfer[0] }} - (currentTime{{ transfer[0] }})
                    if (remainingTime{{ transfer[0] }} <= 0) {
                        clearInterval(timerInterval{{ transfer[0] }})
                        sendTransferId{{ transfer[0] }}()
                    } else {
                        let minutes{{ transfer[0] }} = Math.floor(remainingTime{{ transfer[0] }} / 60)
                        let seconds{{ transfer[0] }} = remainingTime{{ transfer[0] }} % 60
                        if (minutes{{ transfer[0] }} < 10) {
                            minutes{{ transfer[0] }} = `0${minutes{{ transfer[0] }}}`
                        }
                        if (seconds{{ transfer[0] }} < 10) {
                            seconds{{ transfer[0] }} = `0${seconds{{ transfer[0] }}}`
                        }
                        inputTime{{ transfer[0] }}.innerText = `${minutes{{ transfer[0] }}}:${seconds{{ transfer[0] }}}`
                    }
                }

                let timerInterval{{ transfer[0] }} = setInterval(updaterTime{{ transfer[0] }}, 1000)
                updaterTime{{ transfer[0] }}()
            </script>
        {% endfor %}
    </div>
</div>
</body>
</html>