<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Перевод криптовалюты</title>
</head>
<body>
<h1>Перевод</h1>
{% set currency = ['ETH', 'FR'] %}
<form action="/transfer" method="post">
    <p><label for="recipient">Выбрать получателя:</label>
    <select name="recipient" required>
      {% for account in login_accounts %}
          <option value="{{ account }}">{{ account }}</option>
      {% endfor %}
    </select><br><br>
    </p>
    <label for="currency">Валюта:</label>
    <select name="currency" required>
        {% for val in currency %}
            <option value="{{ val }}">{{ val }}</option>
        {% endfor %}
    </select><br><br>
    <p>
        <label for="sum">Сумма перевода:</label>
        <input type="number" name="sum" placeholder="сумма перевода" required>
    </p>
    <p>
        <input type="submit" value="Отправить">
    </p>
</form>
<a href="{{ url_for('signed') }}"><button type="submit">Назад</button></a>
    {% if message %}
        <p>
        {{ message }}
        </p>
    {% endif %}
</body>
</html>